* {
    box-sizing: border-box;
}
body {
    flex-basis: 75%;
    flex-flow: column;
	background-color: white;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.75;
    font-family: 'Rosarivo', serif;
    }
a{
    text-decoration: none;
    color: white;
}
.head{
    margin-left: 9px;
}
h1{
    font-size: 39px;
    color: white;
}
.explanation{
    font-size: 10px;
    color: white;
    margin-right: 30px;
}
.main-info{
    background-image: url(../images/hero.webp);
    background-size: cover;
    border-image-outset: 10px;
    width: 100%;
    margin: 0px;
    height: 313px;
}


@media screen and (min-width:  540px){ 
    a{
        margin: 2px;
    }
    h1{
        margin-left: 10px;
    }
    .explanation{
        font-size: 10px;
        margin-right: 100px;
        margin-left: 10px;
    }
    .main-info{
        height: 383px;
    }  
}
@media screen and (min-width: 768px) {
    a {
        margin: 4px;
    }

    h1 {
        font-size: 42px;
        margin-left: 20px;
    }

    .explanation {
        font-size: 13px;
        margin-right: 150px;
        margin-left: 20px;
    }

    .main-info {
        height: 453px;
    }
}
@media screen and (min-width: 992px) {
    a {
        margin: 6px;
    }

    h1 {
        font-size: 45px;
        margin-left: 30px;
    }

    .explanation {
        font-size: 16px;
        margin-right: 200px;
        margin-left: 30px;
    }

    .main-info {
        height: 523px;
    }
}
@media screen and (min-width: 1200px) {
    a {
        margin: 8px;
    }

    h1 {
        font-size: 48px;
        margin-left: 30px;
    }

    .explanation {
        font-size: 19px;
        margin-right: 250px;
        margin-left: 40px;
    }

    .main-info {
        height: 593px;
    }
}
@media screen and (min-width: 1700px) {
    a {
        margin: 10px;
    }

    h1 {
        font-size: 51px;
        margin-left: 45px;
    }

    .explanation {
        font-size: 22px;
        margin-right: 450px;
        margin-left: 45px;
    }

    .main-info {
        height: 653px;
    }
}
